@import url("./__input/form__input.css");
@import url("./__input-error/form__input-error.css");
@import url("./__input-label/form__input-label.css");
@import url("./__input/_type/form__input_type_error.css");

.form {
  display: flex;
  flex-flow: column nowrap;
  width: 165px;
}

@media screen and (min-width: 375px){
  .form {
    width: 200px;
  }
}

@media screen and (min-width: 425px){
  .form {
    width: 245px;
  }
}

@media screen and (min-width: 768px){
  .form {
    width: 358px;
  }
}