.profile-modal__btn {
  background: #000000;
  max-width: 358px;
  padding: 14px 125px 18px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.22;
  border-radius: 2px;
  border: 0.3px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.profile-modal__btn:hover {
  background: rgba(0, 0, 0, 0.8);
}
