.profile__edit-btn {
  position: absolute;
  height: 18px;
  width: 18px;
  top: 20px;
  right: 9px;
  border: 1px solid #ffffff;
  background-color: black;
  padding: 0;
  background-image: url('../../../images/edit-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 7.5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .profile__edit-btn {
    top: 19px;
    right: 0;
    background-size: 10px;
  }
}
