.profile-modal__close {
  position: absolute;
  top: -35px;
  right: -35px;
  height: 40px;
  width: 40px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.profile-modal__close:hover {
  opacity: 0.6;
}
